h1#jumboName {
  font-weight: bold;
  color: black;
}

.lead {
  font-weight: 700;
}

#aboutMePic {
  height: 200px;
  width: 200px;
}

.skills {
  font-weight: 700;
  text-align: center;
  font-weight: bold;
  color: black;
}

.aboutH1 {
  text-align: center;
  font-weight: bold;
  color: black;
}

.frontEnd {
  float: left;
}

.portfolioH1 {
  text-align: center;
  color: black;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  box-shadow: 8px 8px 8px 8px rgba(5, 5, 5, 0.4),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardbtns:hover {
  background-color: blue;
}

body {
  background-color: darkgray;
  font-family: "Josefin Sans", sans-serif;
}

#contact {
  text-align: center;
  font-weight: bold;
  color: white;
}

.contactBtns {
  display: flex;
  justify-content: center;
}

h4 {
  font-weight: 700;
}

.tech {
  text-align: center;
  font-weight: bold;
  color: black;
}

.techUl {
  list-style-type: none;
  text-align: center;
  color: black;
}

#projects {
  margin-bottom: 40px;
}

.navbar {
  background-color: black;
  color: black;
}

.py-4 {
  border-radius: 5px;
  background-color: black;
}

body {
  background-image: url(./Assets/Images/photo-1487621167305-5d248087c724.jfif);
  background-size: cover;
}

.aboutMeParagraph {
  color: black;
  font-size: 18px;
  font-weight: 600;
}

li {
  font-weight: 900;
}

#aboutMe {
    margin-bottom: 20px;
}

.btn-social {
    color: white;
}

.btn-social:hover {
    color: green;
}

.copyright {
    color: white;
}

.nav-link {
    font-weight: 400;
}